div {
  display: flex;
}

.container {
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 1rem;
  box-sizing: border-box;
}

.wrapper {
  flex-direction: column;
  height: 100%;

  width: 100%;
  box-sizing: border-box;
}

.header {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    font-size: 1.2rem;
  }

  .room-status {
    opacity: 0.8;
    width: 100%;
    font-size: 0.8rem;
    justify-content: space-evenly;
  }
}

.table-container {
  width: 100%;
  height: 260px;
  overflow: auto;

  table {
    width: 100%;
  }
}

.user-list {
  min-width: 300px;
  justify-content: space-evenly;
  margin-right: 1rem;
  flex-direction: column;

  .extra-message {
    justify-content: space-between;
  }
}

.msg-list {
  margin: 1rem 0;
  flex-grow: 1;
  justify-content: center;

  .message {
    width: 65%;
  }

  .divider-text {
    justify-content: center;
    font-size: 0.8rem;
    opacity: 0.7;
  }

  mat-card-header {
    justify-content: center;
  }

  mat-card-content {
    font-size: inherit;

    p {
      word-wrap: break-word;
    }
  }

  mat-card-actions {
    justify-content: flex-end;
    display: flex;

    button {
      margin: 0 0.5rem;
    }
  }
}

.example-viewport {
  min-height: 100%;
  width: 100%;
  border: 1px solid black;
}

.item-container {
  justify-content: center;
  margin: 1rem;

  .divider {
    justify-content: center;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
  }
}

.system-message {
  background: rgb(0 0 0 / 10%);;
}

.sent-message {
  justify-content: flex-end;

  mat-card {
    background: #a9e87a;
  }
}

.to-me-message {
  justify-content: flex-start;
}

.footer {
  flex-direction: column;
  align-items: center;

  mat-form-field {
    width: 80%;
  }
}

textarea {
  resize: none;
}

.footer-actions {
  justify-content: space-between;
  //margin-bottom: 1rem;
  width: 100%;
}

.float-button {
  position: absolute;
  top: 5rem;
  right: 2rem;
}
